/*Generales*/

h1 {
	font-family: 'Playfair Display', serif;
}


/*Nav*/

.navbar_barberia {
	margin-bottom: 0px;
	background-color: black;
	border:0;
	border-radius: 0;
}




/*header*/

.header {
	background-image: url(../img/post-image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 20vw;
	padding-bottom: 0;
	text-align: center;
}

.header h1 {
	margin: 0 auto;
	color: white;
	font-weight: bold;
	font-style: italic;
	font-size: 6em;
	max-width: 800px;
	padding: 0 2vw;

}

.header_icon {
	margin: auto;
	color: #ffffff;
	font-size: 4em;
}

.header_icon i {
	margin-top: 15vw;
}

/*Post*/

/*Author*/

/*Footer*/